@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.header-font {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.title-font {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.content-font {
  font-family: "Playfair Display", serif;
}

.full-height {
  height: 100%;
}

.header-border {
  border-bottom: 1px solid rgb(170, 170, 170);
}

.input-size {
  width: 50px;
}

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.fixed-height {
  height: 150px;
}
